// For testing adding some variables
// Once actual development starts remove all these variables
//
$font-family: 'Helvetica', san-serif;
$base-font_size: 16px;
$primary-color: #333;
$white: #fff;
$secondary-color: #999;
$body-bg: crimson;
$base-color: #fff;
$body-padding: 20px;
$heading1-font-size: 36px;
